<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.beijing.qzszg">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_t"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.beijing.qzszg.SingleChoose"
            android:theme="@style/AppTheme.NoActionBar">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name="com.example.beijing.qzszg.MulChoose"
            android:theme="@style/AppTheme.NoActionBar">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name="com.example.beijing.qzszg.Subjective"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustPan">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name="com.example.beijing.qzszg.AnswerMainAty"></activity>
        <activity android:name="com.example.beijing.qzszg.SelectTag"></activity>
        <activity
            android:name="com.example.beijing.qzszg.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.beijing.qzszg.ZhuCeActivity" />
        <activity
            android:name="com.example.beijing.qzszg.LoginActivity"
            android:launchMode="singleTask">
            android:name=".ExerActivity" /></activity>
        <activity
            android:name="com.example.beijing.qzszg.SearchActivity"
            android:parentActivityName="com.example.beijing.qzszg.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name="com.example.beijing.qzszg.CollectActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName="com.example.beijing.qzszg.MainActivity">
        </activity>
        <activity android:name="com.example.beijing.qzszg.WrongActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName="com.example.beijing.qzszg.MainActivity"></activity>
        <activity android:name="com.example.beijing.qzszg.ForgetPass" />
        <activity android:name="com.example.beijing.qzszg.ChangePass"></activity>
    </application>

</manifest>